/*主要色块（按钮）*/
@primaryColor: #df863c;
@hoverColor: #f48a4b;
@activeColor: #df8a4b;
@lightColor: #EEFAF3;

/*主背景色*/
@bgColor: #f2f2f6;

/*文字颜色*/
@textColor: #333;

/*内容文字颜色*/
@contentColor: #585858;

/*链接、链接形式按钮颜色*/
@linkColor: #f48a4b;

/*提醒文字颜色*/
@tipsColor: #ff5a5a;

/*上传文件的提醒字颜色*/
@uploadTipsColor: #ff5a5a;

/*模块背景色*/
@modeBdColor: #fff;

/*内容文字颜色：浅*/
@lightContentColor: #999;

/*输入框默认背景色*/
@inputDefaultBgColor: #ffffff;

/*输入框默认边框色*/
@inputDefaultBorderColor: #cccccc;

/*输入框悬浮时边框色*/
@inputHoverBorderColor: #bbbbbb;

/*组件禁用时的背景色*/
@disabledBgColor: #cccccc;

/*错误提示颜色*/
@errorColor: #FF5A5A;

/* 边框颜色 浅 */
@lightBorderColor: #e2dcdc;

/* 勾选中的颜色 */
@checkedColor: #4E89EB;

/* 节点被选中的颜色 */
@selectedNodeColor: #F2F2F6;

.cl-bg {
  background-color: @bgColor;
}

.cl-primary {
  color: @primaryColor;
}

.cl-text {
  color: @textColor;
}

.cl-content {
  color: @contentColor;
}

.cl-link {
  color: @linkColor;
}

.cl-333 {
  color: #333;
}

.cl-666 {
  color: #666;
}

.cl-999 {
  color: #999;
}

.cl-link {
  color: @linkColor;
}

.cl-tips {
  color: @tipsColor;
}

.cl-light {
  color: @lightContentColor;
}

.cl-warn {
  color: @errorColor;
}
