/*主要色块（按钮）*/
@primaryColor: #DF863C;
@hoverColor: #ecb68a;
@activeColor: #DF863C;
@lightColor: #EEFAF3;

@color1: rgb(223, 134, 60);
@color2: #e29250;
@color3: #e59e63;
@color4: #e9aa77;
@color5: #ecb68a;
@color6: #efc39e;
@color7: #f2cfb1;
@color8: #f5dbc5;
@color9: #f9e7d8;
@color10: #fcf3ec;
@color11: #c97936;


/*主背景色*/
@bgColor: #f2f2f6;

/*文字颜色*/
@textColor: #333;

/*内容文字颜色*/
@contentColor: #585858;

/*链接、链接形式按钮颜色*/
@linkColor: #DF863C;

/*提醒文字颜色*/
@tipsColor: #ff5a5a;

/*上传文件的提醒字颜色*/
@uploadTipsColor: #ff5a5a;

/*模块背景色*/
@modeBdColor: #fff;

/*内容文字颜色：浅*/
@lightContentColor: #999;

/*输入框默认背景色*/
@inputDefaultBgColor: #ffffff;

/*输入框默认边框色*/
@inputDefaultBorderColor: #cccccc;

/*输入框悬浮时边框色*/
@inputHoverBorderColor: #bbbbbb;

/*组件禁用时的背景色*/
@disabledBgColor: #cccccc;

/*错误提示颜色*/
@errorColor: #FF5A5A;

/* 边框颜色 浅 */
@lightBorderColor: #e2dcdc;

/* 勾选中的颜色 */
@checkedColor: #4E89EB;

/* 节点被选中的颜色 */
@selectedNodeColor: #F2F2F6;

@blue: #324157;
@light-blue: #3A71A8;
@red: #C03639;
@pink: #E65D6E;
@green: #30B08F;
@tiffany: #4AB7BD;
@yellow: #FEC171;
@panGreen: #30B08F;

// sidebar
@menuText: #bfcbd9;
@menuActiveText: #FFEEFF;
@subMenuActiveText: #FFEEFF;

@menuBg: #272b3b;
@menuHover: rgba(255, 255, 255, 0.5);

@subMenuBg: #272b3b;
@subMenuHover: rgba(255, 255, 255, 0.6);

.cl-bg {
  background-color: @bgColor;
}

.cl-primary {
  color: @primaryColor;
}

.cl-text {
  color: @textColor;
}

.cl-content {
  color: @contentColor;
}

.cl-link {
  color: @linkColor;
}

.cl-333 {
  color: #333;
}

.cl-666 {
  color: #666;
}

.cl-999 {
  color: #999;
}

.cl-link {
  color: @linkColor;
}

.cl-tips {
  color: @tipsColor;
}

.cl-light {
  color: @lightContentColor;
}

.cl-warn {
  color: @errorColor;
}
